@media (min-width: 1025px) {
    html, body {
        height: 100%;
    }

    body {
        background-color: rgb(39, 33, 33);
        display: flex;
    }

    #root {
        display: flex;
        column-gap: 10%;
    }

    .header {
        margin: 0;
        padding: 0;
        width: 20%;
    }

    nav {
        height: 100%;
        background-color: rgb(31, 22, 22);
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        width: 105%;
    }

    .list {
        height: 100%;
        list-style: none;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        max-inline-size: 100%;
        font-size: 150%;
        padding: 0;
        margin: 0;
        
        overflow: hidden;
    }

    .list li {
        margin-left: 2vw;
    }

    a {
        color: rgb(250, 215, 215);
    }

    a:hover {
        color: white;
    }

    .components {
        color: rgba(168, 168, 168);
        display: flex;
        align-items: center;
        max-width: 90%;
        padding: 0;
        margin: 0;
        overflow: hidden;
    }
}



@media (max-width: 1024px) {
    html, body {
        height: 100%;
    }
    
    body {
        background-color: rgb(39, 33, 33);
        min-width: 480px;
    }
    
    #root {
        column-gap: 10%;
    }
    
    .header {
        margin: 0;
        padding: 0;
        margin-bottom: 5%;
    }
    
    nav {
        background-color: rgb(31, 22, 22);
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        height: 30%;
    }
    
    .list {
        list-style: none;
        display: flex;
        justify-content: space-around;
        max-inline-size: 100%;
        font-size: 100%;
        padding: 0;
        margin: 0;
        word-wrap: break-word;
        overflow: hidden;
        padding-bottom: 1%;
    }
    
    a {
        color: rgb(250, 215, 215);
    }
    
    a:hover {
        color: white;
    }
    
    .components {
        color: rgba(168, 168, 168);
        max-width: 90%;
        padding: 0;
        margin: 0 auto;
        overflow: hidden;
    }
}